# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
tmp/
out-tsc/
bazel-out/

# Angular cache
.angular/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
Thumbs.db
*.log
